<h1>STUPID COACHING</h1>
<h2>Ask your coach anything</h2>
<form class="form-inline pl-3" action="/answer" method = "GET">
  <input class="form-control" type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>